@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #ffffff;
    --main-color: #00eeff;
    --primary-color: #dc143c;
}

html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* <-----------Header Section Start---------> */
header {
    width: 100%;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header>.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
}



.header>.logo>a {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: default;
}


.header>ul {
    display: flex;
    color: var(--text-color);
    gap: 2.6rem;
}

.header>ul>li {
    list-style: none;
}

.header>ul>li>a {
    font-size: 1.7rem;
    color: var(--text-color);
    transition: all 0.5s;
    position: relative;
}

.header>ul>li>a:hover,
.header>ul>li:nth-child(1)>a {
    color: var(--main-color);
}

.header>ul>li:nth-child(1)>a::after {
    width: 100%;
}

.header>ul>li>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    width: 0%;
    height: 0.2rem;
    transition: 0.3s;
}

.header>ul>li>a:hover::after,
.header>ul>li:nth-child(1)>a:hover::after {
    width: 100%;
}

.header>.box {
    height: 1.9rem;
    width: 2.3rem;
    position: relative;
    overflow-x: hidden;
    display: none;
}

.header>.box>.line {
    height: 0.2rem;
    width: 100%;
    background-color: var(--text-color);
    position: absolute;
    top: calc(50%);
    transition: all 0.4s;
}

.header>.box:hover>.line {
    transform: translateX(-3rem);
}

.header>.box::before,
.header>.box::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.header>.box:hover::before {
    transform: rotate(45deg);
    position: absolute;
    top: 45%;

}

.header>.box:hover::after {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 45%;
}

.header>.box::before {
    top: 16%;
}

.header>.box::after {
    bottom: 6%;
}

/* <-----------Header Section End---------> */



/* <-----------Main Section Start---------> */
/* <-----------Home Section Start---------> */
main {
    width: 100%;
}

main>.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21rem 9%;
    gap: 4rem;
    flex-wrap: wrap;
}

.home-container>.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home>.home-content>h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home>.home-content>h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home>.home-content>h3:nth-of-type(2)>span {
    color: var(--main-color);
}

.home>.home-content>h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home>.home-content>p {
    font-size: 1.6rem;
}

.home>.home-button {
    display: flex;
    height: 3rem;
    gap: 2.8rem;
}


@keyframes pulse {
    20% {
        box-shadow: 0 0 0 0.2rem #dc143c53;
    }

    40% {
        box-shadow: 0 0 0 0.3rem #dc143ca8;
    }

    60% {
        box-shadow: 0 0 0 0.4rem #dc143c;
    }

    80% {
        box-shadow: 0 0 0 0.3rem #dc143ca8;
    }

    100% {
        box-shadow: 0 0 0 0.2rem #dc143c53;
    }
}

.home>.home-button>.btn:nth-child(2):hover {
    animation-play-state: paused;
}



/* <----card section----> */
.home-container>.card {
    width: 250px;
    height: 300px;
    background-color: var(--second-bg-color);
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    position: relative;
}


.card>.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: var(--second-bg-color);
    transition: 1s;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
}

.card:hover>.card-img {
    transform: rotateY(-180deg);

}

.card>.card-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.card>.card-img>img:nth-child(2) {
    transform: rotateY(180deg);
}

.card>.details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card>.details>.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card>.details>.content>h2 {
    text-align: center;
    font-size: 1.5rem;
}

.card>.details>.content>h2>span {
    font-size: 2rem;
}

.card>.details>.content>.social-media {
    padding-left: 1.5rem;
}

.card>.details>.content>.social-media>a {
    border-radius: 0% !important;
}

/* <-----------Home Section End---------> */



/* <-----------About Section Start---------> */
main>.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 19rem 9%;
    /* flex-wrap: wrap; */
    background: var(--second-bg-color);
}

/* .about> .about-img {
} */
.about>.about-img>img {
    width: 24vw;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
}

.about>.about-content {
    width: 800px;
    padding: 0px 30px;
}


.about-content>h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content>h3 {
    font-size: 2.6rem;
}

.about-content>p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content>a {
    border-radius: 0%;
}

/* <-----------About Section End---------> */


/* <-----------Services Section Start---------> */
main>.services {
    padding: 6rem 9%;
}

.services>.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 87px 0 71px 0px;
    gap: 60px;
    flex-wrap: wrap;
}

.services-container>.services-box {
    width: 350px;
    height: 350px;
    position: relative;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container>.services-box::before {
    content: "";
    position: absolute;
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    inset: 50px 24px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.services-container>.services-box:hover::before {
    inset: -10px 50px;
}

.services-container>.services-box::after {
    content: "";
    position: absolute;
    border-left: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    inset: 50px 24px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.services-container>.services-box:hover::after {
    inset: 50px -10px;
}

.services-box>.services-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: 20px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
}

.services-box>.services-content>.services-icon {
    color: var(--main-color);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: var(--bg-color);
    box-shadow: 0 0 0 4px var(--bg-color), 0 0 0 6px var(--main-color);
    transition: all 0.5s ease-in-out;
}

.services-box:hover>.services-content>.services-icon {
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 4px var(--bg-color), 0 0 0 300px var(--main-color);
}

.services-box>.services-content>.services-icon>i {
    color: var(--main-color);
}

.services-box:hover>.services-content>.services-icon>i {
    color: var(--bg-color);
}

.services-box>.services-content>.services-text>h3 {
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.services-box:hover>.services-content>.services-text>h3 {
    color: var(--bg-color);
}

.services-box>.services-content>.services-text>p {
    padding: 10px 20px;
}

.services-box:hover>.services-content>.services-text>p {
    color: var(--bg-color);
}

.services-box>.services-content>.services-text>.btn {
    border-radius: 0%;
    margin-top: 12px;
}

.services-box:hover>.services-content>.services-text>.btn {
    box-shadow: 0 0 1rem var(--bg-color);
    background-color: var(--bg-color);
    color: var(--main-color);
}

/* <-----------Services Section End---------> */


/* <-----------Projects Section Start---------> */
main>.project {
    padding: 8rem 9% 6rem;
    background-color: var(--second-bg-color);
}

.project>.project-btns {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.project>.project-btns>.p-btn {
    font-size: 14px;
    cursor: pointer;
    background-color: var(--bg-color);
    box-shadow: 0.4rem 0.5rem 0.8rem 0.1rem var(--bg-color);
    color: var(--second-bg-color);
    padding: 5px 11px;
    font-weight: 900;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.project>.project-btns>.p-btn:hover {
    transform: scale(1.1);
}

.project>.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 71px 0;
    gap: 60px;
    flex-wrap: wrap;
}

.project-container>.project-box {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    border-radius: 2rem;
}

.project-box>.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
}

.project-box>.links>.link1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
    transition: all 0.5s ease;
    animation: pulse 3s linear infinite;
}

.project-box>.links>.link1::after {
    content: "Live";
    position: absolute;
    left: 16px;
    font-size: 14px;
    bottom: -7px;
    font-weight: bold;
    color: var(--primary-color);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0.1rem #dc143c23;
    }

    20% {
        box-shadow: 0 0 0 0.3rem #dc143c54;
    }

    60% {
        box-shadow: 0 0 0 0.5rem #dc143ca4;
    }

    80% {
        box-shadow: 0 0 0 0.3rem #dc143c54;
    }

    100% {
        box-shadow: 0 0 0 0.1rem #dc143c23;
    }
}


.project-box>.links>.link2>a>i {
    color: var(--main-color);
    height: 10px;
    width: 10px;
    font-size: 1.8rem;
    cursor: pointer;
}

.project-box>.img {
    width: 100%;
    transition: all 0.5s ease;
}

.project-box:hover>.img {
    width: 120%;
}

.project-box>.img>img {
    width: 100%;
    object-fit: cover;
    margin-top: 0.6rem;
}


.project-box>h2 {
    color: var(--bg-color);
}

.project-box>.project-layer {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), var(--main-color));
    border-radius: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    color: black;
    transform: translateY(100%);
    transition: all 0.4s ease-in-out;

}

.project-box:hover .project-layer {
    bottom: 3px;
    transform: translateY(17.5%);

}

.project-box>.project-layer>h2 {
    font-size: 3rem;
}

.project-box>.project-layer>p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.project-box>.project-layer>a {
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: all 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    font-size: 1.4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all 0.4s;
    border: 2px solid var(--bg-color);
}

.project-box>.project-layer>a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    transform: scale(1.1);
}

.p-box-not-active {
    display: none !important;
}

/* <-----------Projects Section End---------> */




/* <-----------Contact Section Start---------> */
main>.contact {
    padding: 8rem 9%;
}

.contact>.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 10rem 10% 0rem;
    flex-wrap: wrap;
    gap: 3rem;
}

.contact-container>.contact-section {
    width: 34.2rem;
    height: 26.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-section>.contact-sec-icon {
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    width: 34rem;
    height: 6rem;
    padding: 0 31px;
    gap: 2rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.contact-section>.contact-sec-icon>i {
    background: var(--bg-color);
    height: 28px;
    color: var(--main-color);
    display: flex;
    width: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 11px;
}

.contact-container>.form-section {

    height: 44rem;
    width: 30rem;
}

.form-section>form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 1.2rem;
}

form>.form-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

form>.form-box>label {
    display: block;
    font-size: 1.4rem;
}

form>.form-box>input,
form>.form-box>textarea {
    width: 100%;
    padding: 7px 11px;
    border-radius: 0.5rem;
    background: var(--second-bg-color);
    resize: none;
}

form>.form-box>input {
    height: 4rem;
}

form>.form-box>input[type=text]:focus,
form>.form-box>textarea:focus {
    border: 2px solid rgb(22, 21, 21);
}

input[type=submit] {
    width: 9rem !important;
    font-size: 1.6rem;
    color: var(--text-color);
    transition: all 0.5s ease;
    box-shadow: 0.3rem 0.3rem 0.4rem 0.3rem #170f0f;
    cursor: pointer;
}

.contact>.map-img {
    padding: 0 !important;
    width: 100%;
    height: 300px;
    background-color: red;
}

/* <-----------Contact Section End----------> */


/* <-----------Map Section Start----------> */
.map {
    max-width: none;
}

.map>.map-img {
    width: 100%;
    height: 350px;
    position: relative;
}

.map>.map-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map>.map-img>.map-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    gap: 1rem;

}

.map-detail>i {
    color: var(--primary-color);
    font-size: 3rem;

}

.map-detail>.map-text {
    width: 240px;
    height: 120px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 5px 19px;

}

.map-detail>.map-text>h2 {
    font-size: 2.3rem;
    cursor: default;
}

.map-detail>.map-text>p {
    font-size: 1.15rem;
}

.map-detail>.map-text a {
    font-size: 1.15rem;
    color: var(--main-color);
    margin-top: 2.4rem;
    text-decoration: underline;
}

/* <-----------Map Section End----------> */
/* <-----------Main Section End----------> */


/* <-----------Footer Section Start----------> */
footer {
    width: 100%;
}

footer>.footer {
    display: flex;
    flex-direction: column;
}
footer>.footer > .footer-context{
    display: flex;
    flex-direction: row;
    padding: 8rem 9% ;
}

.footer-context > .footer-details{
    padding: 0 6rem;
    width: 40%;
    font-size: 1.3rem;
    word-spacing: 0.2rem;
    cursor: default;
}
.footer-context > .footer-details > h1{
  font-size: 2.5rem;
}

.footer-context > .footer-links{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3rem;
    color: var(--text-color);

}

.footer-links > .footer-link{
    display: flex;
    flex-direction: column;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.footer-links li{
   list-style: none;
}
.footer-links a{
   color: var(--text-color);
   transition: all 0.3s;
}
.footer-links a:hover{
   color: var(--main-color);
}








.footer> .footer-main{
    display: flex;
    justify-content: center;
    padding: 12px 9%;
    gap: 3rem;
    background-color: var(--second-bg-color);
    cursor: default;
}
.footer> .footer-main > p{
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}
.footer> .footer-main > p:nth-child(1) {
    padding: 0 3rem 0 0;
    border-right: 2px solid var(--text-color);
}



/* <-----------Footer Section End----------> */



















/* <-----------Utilities Section Start---------> */
section {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.heading {
    cursor: default;
    text-align: center;
    font-size: 4.5rem;
}

span {
    color: var(--main-color);
}

/* --->>>Main section<<<---  */
main {
    width: 100%;
}

.social-media>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: all 0.5s ease;
}

.social-media>a:hover {
    color: var(--second-bg-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* --->>>Home section<<<---  */
.btn,
.redBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.8rem;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn {
    box-shadow: 0 0 1rem var(--main-color);
    background-color: var(--main-color);
    transition: 0.8s ease;
}

.btn:hover {
    box-shadow: none;
}

.home>.home-button>.redBtn {
    color: var(--primary-color);
    animation: pulse 2s linear infinite;
}

/* <-----------Utilities Section End----------> */